DATA_DIR=
P2P_PORT=
# If using Bitcoin Core backend
BITCOIN_CORE_COOKIE_FILE="/home/work/.bitcoin/signet/.cookie"
BITCOIN_CORE_RPC_URL=
BITCOIN_CORE_RPC_USER=
BITCOIN_CORE_RPC_PASSWORD=
# If using Esplora backend
ESPLORA_URL=
